# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Load and Preprocess Data

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Himanshu-1703/reddit-sentiment-analysis/refs/heads/main/data/reddit.csv')
df.head()

                                       clean_comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [3]:
df.shape

(37249, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37249 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  37149 non-null  object
 1   category       37249 non-null  int64
dtypes: int64(1), object(1)
memory usage: 582.1+ KB

### Drop Null values

In [5]:
df.isnull().sum()

clean_comment    100
category           0
dtype: int64

In [13]:
df.dropna(inplace=True)
df.isnull().sum()

clean_comment    0
category         0
dtype: int64

### Eliminate duplicates

In [11]:
df.duplicated().sum()

np.int64(350)

In [12]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

### Removes all the lines which just contains whitespaces or new lines

In [14]:
df[(df['clean_comment'].str.strip() == '')]

                clean_comment  category
181                                   0
4432                       \n         0
10592                                 0
16173                                 0
32149  \n                             0
34959                                 0

In [16]:
df = df[~(df['clean_comment'].str.strip() == '')]

### Convert all the comments to lowercase

In [18]:
df['clean_comment'] = df['clean_comment'].str.lower()

df.head()

                                       clean_comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [ ]:
comments_with_newline = df[df['clean_comment'].str.contains('\n')]

comments_with_newline.head()

                                         clean_comment  category
106   pretty sure this sarcasm satire the news 1500...         1
217      lots streams this site vietnam arsenal html\n         0
317   the govt should have only one religion says t...         0
448  what missing jpg\nand why this brilliant edit ...         1
495   you wondering whether girl will get through t...         1

In [21]:
df['clean_comment'] = df['clean_comment'].str.replace('\n', ' ', regex=True)

comments_with_newline = df[df['clean_comment'].str.contains('\n')]
comments_with_newline

Empty DataFrame
Columns: [clean_comment, category]
Index: []